/* src/styles/global.scss */

body {
  background-color: var(--color-bg);
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  color:var(--color-text);
}


a {
  color: var(--color-link);
}
a:hover {
  color:var(--color-link-hover);
}
h1 {
  color:var(--color-text-title);
}

h2,h3,h4,h5,h6,h7,h8,h9 
{
  color: var(--color-text-head);
}

.text-link-hover {
  background-color: #ddd;
}
