/* src/styles/themes.css */


[data-theme='corporate'] {
  --color-bg: #fefcfb;
  --color-text: #0A1128;
  --color-accent: #034078;
  --color-secondary: #1282A2;
  --color-link: #001F54;
}

[data-theme='earthy'] {
  --color-bg: #F5EBE0;
  --color-text: #2A2A2A;
  --color-accent: #A98467;
  --color-secondary: #6C584C;
  --color-link: #1282A2;
}

/* Add other themes here */
