---
import SocialMedia from './SocialMedia.astro'
const today = new Date();
import { COMPANY_NAME } from '../consts';

---
<footer>
  <SocialMedia/>
  <h5 class="text-lg">&copy; {today.getFullYear()} {COMPANY_NAME}. All rights reserved.</h5>
</footer>

