---
import SocialMedia from './SocialMedia.astro'
const today = new Date();
import { SITE_INFO } from '../consts';

---
<footer class="mx-auto max-w-7xl bg-color-panel p-4">
  <SocialMedia/>
  <div class="text-sm">&copy; {today.getFullYear()} {SITE_INFO.company_name}. All rights reserved.</div>
</footer>

