---
import SocialMedia from './SocialMedia.astro'
const today = new Date();
import { COMPANY_NAME } from '../consts';

---
<footer class="mx-auto max-w-7xl bg-color-panel p-4">
  <SocialMedia/>
  <h5 class="text-sm">&copy; {today.getFullYear()} {COMPANY_NAME}. All rights reserved.</h5>
</footer>

