---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE, BLOG_ENABLED, PODCAST_ENABLED } from '../consts';
const { page_title = SITE_TITLE } = Astro.props;
---

<header>
	<nav>
		<h2 class="page-title  text-4xl uppercase"><a href="/">{page_title}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			{(BLOG_ENABLED) ? <HeaderLink href="/blog">Blog</HeaderLink> : '' }  
			{(PODCAST_ENABLED) ? <HeaderLink href="/podcast">Podcast</HeaderLink> : '' }
			<HeaderLink href="/about">About</HeaderLink>
		</div>
	</nav>
</header>

