---
import HeaderLink from './HeaderLink.astro';
import { SITE_INFO } from '../consts';
const { page_title = SITE_INFO.site_title } = Astro.props;
---

<header class="mx-auto max-w-7xl bg-color-panel p-4" >
	<nav>
		<h2 class="page-title  text-4xl uppercase text-title"><a class="text-color-text-head hover:text-color-text-head" href="/">{page_title}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/" class="rounded-md px-3 py-2 text-sm font-medium text-gray-700 hover:text-sky">Home</HeaderLink>
			{(SITE_INFO.blog_enabled) ? <HeaderLink href="/blog" class="rounded-md px-3 py-2 text-sm font-medium text-gray-700 hover:text-sky">Blog</HeaderLink> : '' }  
			{(SITE_INFO.podcast_enabled) ? <HeaderLink href="/podcast" class="rounded-md px-3 py-2 text-sm font-medium text-gray-700 hover:text-sky">Podcast</HeaderLink> : '' }
			<HeaderLink href="/about" class="rounded-md px-3 py-2 text-sm font-medium text-gray-700  hover:text-sky">About</HeaderLink>
		</div>
	</nav>
</header>

