---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE, BLOG_ENABLED, PODCAST_ENABLED } from '../consts';
const { page_title = SITE_TITLE } = Astro.props;
---

<header class="mx-auto max-w-7xl bg-color-pane" >
	<nav>
		<h2 class="page-title  text-4xl uppercase text-title"><a href="/">{page_title}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/" class="rounded-md px-3 py-2 text-sm font-medium text-gray-700 hover:bg-gray-300 hover:text-sky">Home</HeaderLink>
			{(BLOG_ENABLED) ? <HeaderLink href="/blog" class="rounded-md px-3 py-2 text-sm font-medium text-gray-700 hover:bg-gray-300 hover:text-sky">Blog</HeaderLink> : '' }  
			{(PODCAST_ENABLED) ? <HeaderLink href="/podcast" class="rounded-md px-3 py-2 text-sm font-medium text-gray-700 hover:bg-gray-300 hover:text-sky">Podcast</HeaderLink> : '' }
			<HeaderLink href="/about" class="rounded-md px-3 py-2 text-sm font-medium text-gray-700 hover:bg-gray-300 hover:text-sky">About</HeaderLink>
		</div>
	</nav>
</header>

