---
import { SITE_INFO } from '../consts';
import SocialLink from './SocialLink.astro';
---
<div class="social-links flex flex-grid">
{
  SITE_INFO.social_media.map((account) => (
    <SocialLink {...account}/>
  ))
}
</div>
	
