---
const {url, cssicon, platform} = Astro.props;
---

<div class="rounded-md px-3 py-2 text-sm font-medium text-accent hover:bg-accent"><a  target="_blank" href={url}><span class={cssicon}></span>{platform}</a></div>
