t---
import FormattedDate from '../components/FormattedDate.astro';
const { data } = Astro.props;
---
<article class="blog-post post">
	<section class="prose" class="col-span-3">
	  <div class="box-content bg-sky-300" >
		  {data.heroImage && <img  src={data.heroImageOptimized} alt=""  class="inline"/>}
	  </div>
		<div class="title">
			<h1>{data.title}</h1>
			<div class="date mb-6 text-sm">
				<FormattedDate date={data.pubDate} />
				{
					data.updatedDate && (
						<span class="last-updated-on">
							- Last updated on <FormattedDate date={data.updatedDate} />
						</span>
					)
				}
			</div>
		</div>
		<slot />
	</section>
</article>
