---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_INFO } from '../consts.ts';
const { data } = Astro.props;
import '../styles/global.css';
import '../styles/global.scss';
---
<!DOCTYPE html>
<html lang={SITE_INFO.site_language} class="bg-color-bg text-color-text" >
  <head>
    <BaseHead {...data}/>
  </head>
  <body>
	  <Header />
	  <main class="mx-auto max-w-7xl bg-color-panel p-4">
      <slot/>
  	</main>
	  <Footer />
  </body>
</html>
